-r requirements.txt
# ipython 5.x must be used for python < 3.3
# ipython~=5; python_version < '3.3'
# ipython~=6; python_version >= '3.3'

# httpretty ~= 0.8.14
# jsonschema ~= 2.6
jsonschema

# strict-rfc3339 ~= 0.7
strict-rfc3339
# runipy ~= 0.1
runipy
# sure ~= 1.4
sure

pytest
requests_mock
